<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!--added this in so that the font awesome icons can show up in my header - they weren't showing up-->

<!-- Content for the edit Operation-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
        <h1><%= title %></h1>
        <form class="form" method="POST">
        <!-- to add the name in the database -->
            <div class="form-group">
                <label for="titleTextField">Title</label>
                <input type="text" class="form-control" id="titleTextField" placeholder="Enter the title" name="Title" value="<%=Movies.Title%>" required>
            </div>
            <div class="form-group">
                <label for="genreTextField">Genre</label>
                <input type="text" class="form-control" id="genreTextField" placeholder="Enter the genre" name="Genre" value="<%=Movies.Genre%>" required>
            </div>
            <div class="form-group">
                <label for="releaseYearTextField">releaseYear</label>
                <input type="text" class="form-control" id="releaseYearTextField" placeholder="Enter the release year of the show/movie" name="releaseYear" value="<%=Movies.releaseYear%>" required>
            </div>
            <div class="form-group">
                <label for="progressTextField">Progress</label>
                <input type="text" class="form-control" id="progressTextField" placeholder="Enter how much of the show/movie you've watched." name="Progress" value="<%=Movies.Progress%>" required>
            </div>
            <div class="form-group">
                <label for="statusTextField">Status</label>
                <input type="text" class="form-control" id="statusTextField" placeholder="Status of the show/movie (Completed/Ongoing/Released/Upcoming)" name="Status" value="<%=Movies.Status%>" required>
            </div>
            <button class="btn btn-primary" type="submit">Submit
            <i class="fas fa-edit"></i></button>

            <button class="btn btn-warning" type="submit">Cancel
            <i class="fas fa-undo"></i></button>

        </form> 
    </div>

</div>
<%- include ../Partials/footer.ejs %>