<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <% if(typeof displayName=='string' && displayName) {%>
             <a href="/movieslist/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add to watch list
            </a>
            <%}%>
        <table class="table table-bordered table-striped table-hover">

          
                <th class="text-center col-1"></th>
                <th class = "text-center col-1"></th>

            <!--Table Header-->
            <tr class="d-flex">
            <% if(typeof displayName=='string' && displayName) {%>
                <th class="text-center col-5">Title</th>
                <th class="text-center col-2">Genre</th>
                <th class="text-center col-2">releaseYear</th>
                <th class="col-3">Progress</th>
                <th class="text-center col-2">Status</th>
                <th class="text-center col-2">Edit</th>
                <th class="text-center col-2">Delete</th>
            <% } else { %>
            <th class="text-center col-3">Title</th>
                <th class="text-center col-2">Genre</th>
                <th class="text-center col-1">releaseYear</th>
                <th class="col-3">Progress</th>
                <th class="text-center col-2">Status</th>

            <%}%>

            </tr>
            <% for(let count=0;count<MoviesList.length;count++) { %>
            <tr class="d-flex">
            <% if(typeof displayName=='string' && displayName) {%>
                <td class="text-center col-5"><%= MoviesList[count].Title %></td>
                <td class="text-center col-2"><%= MoviesList[count].Genre %></td>
                <td class="text-center col-2"><%= MoviesList[count].releaseYear %></td>
                <td class="col-3"><%= MoviesList[count].Progress %></td>
                <td class="text-center col-2"><%= MoviesList[count].Status %></td>
                <td class="text-center col-2"> 
                    <a href="/movieslist/edit/<%= MoviesList[count]._id%>"
                        class="btn btn-primary btn-sm">
                    <i class="fas fa-pencil-alt"></i>Edit 

                    </a>
                    </td>

                <td class="text-center col-2"> 
                    <a href="/movieslist/delete/<%= MoviesList[count]._id%>"
                        class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i>Delete

                    </a>
                    </td>
                    <% } else { %>
                    <td class="text-center col-5"><%= MoviesList[count].Title %></td>
                    <td class="text-center col-2"><%= MoviesList[count].Genre %></td>
                    <td class="text-center col-2"><%= MoviesList[count].releaseYear %></td>
                    <td class="col-3"><%= MoviesList[count].Progress %></td>
                    <td class="text-center col-2"><%= MoviesList[count].Status %></td>
                    <% } %>

            </tr>
            <% } %>
        </table>
        </div>
    </div>
</main> 
<%- include ../Partials/footer.ejs %>