<<<<<<< HEAD
<%-include ../Partials/header.ejs %>
<%-include ../Partials/main_nav.ejs %>
<link rel="stylesheet" type="text/css" href="Content/home.css"> 
<h1> Welcome to The Purr-fect Place</h1>
=======
<%-include ../Partials/header.ejs %>
<%-include ../Partials/main_nav.ejs %>
<link rel="stylesheet" type="text/css" href="Content/home.css"> 
<h1> Welcome to The Purr-fect Place</h1>
>>>>>>> c01ca060352e72a051cdad45b58ee2059f70d42f
<%- include ../Partials/footer.ejs %>