<%-include partials/header.ejs %>
<%-include partials/main_nav.ejs %>
<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-compatible" content = "IE-edge">
    <meta name = "viewport" content ="width-device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!--CSS Files--->
    <link rel = "stylesheet" href = "/content/app.css"/>
</head> 
<body>
    <h1>Welcome to the <%= title %> page </h1>
    <script src = "/script/app.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/jquery/dist/jquery.min.js"></script>
</body>
    <title>My Portfolio</title>
</head>
<body>
    <main>
        <div class="content">
            <img src="Assets/images/bitmoji123_img.jpg" alt="logo" class="logo" width="700" height="500">
        </div>
        <p>Hi my name is fatima
        </p>
    </main>


    <footer>
        <p>&copy; 2024 Fatima Sohail | <a href="mailto:fatima.sohail@ontariotechu.net"> contact me</a></p>
    </footer>
    </body>
<%- include Partials/footer.ejs %>